<div class="box">
  <div class="box-header">
    <h1 class="box-title">Mostrar Proveedor</h1>
    <div class="right_col" role="main">
      <div class="row">
        <div class="row">
          <div class="col-md-12">
            <div class="x_panel">


              <div class="x_content">
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

                <div class="container">
                  <div class="row">


                    <div class="container">
                      <div class="row">
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=id>ID : </label>
                          <%= @proveedor.id %>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=nombre>Nombre : </label>
                          <%= @proveedor.nombre %>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=apellido>Apellido : </label>
                          <%= @proveedor.apellido %>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=direccion>Direccion : </label>
                          <%= @proveedor.direccion %>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=telefono>Telefono : </label>
                          <%= @proveedor.telefono %>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=celular>Celular : </label>
                          <%= @proveedor.celular %>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=apellidomate>Nombre Empresa : </label>
                          <%= @proveedor.nombre_empresa %>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=apellidomate>Nombre Producto : </label>
                          <%= @proveedor.nombre_producto %>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>

                          <%= link_to 'Atrás', proveedores_path , class:'btn btn-danger' %>
                        </div>




                      </div>

                    </div>

                  </div>

                </div>


              </div>
            </div>



            <!-- /.modal-dialog -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

