<div class="box">
  <div class="box-header">
    <h1 class="box-title"><b>Proveedor: <%= @proveedor.rut %></b></h1><br><br>
    <h1 class="box-title"><b>Nombre Empresa: <%= @proveedor.nombre_empresa%></b></h1>
    <div class="right_col" role="main">
      <div class="row">
        <div class="row">
          <div class="col-md-12">
            <div class="x_panel">


              <div class="x_content">
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

                <div class="container">
                  <div class="row">


                    <div class="container">
                      <div class="row">

                        <p>
                        <ul>
                          <td><b>ID:  <%= @proveedor.id %></b></td>
                          <br>
                          <td><b>Nombre: <%= @proveedor.nombre %></b></td>
                          <br>
                          <td><b>Apellido: <%= @proveedor.apellido %></b></td>
                          <br>
                          <td><b>Dirección: <%= @proveedor.direccion %></b>
                            <br>
                          <td><b>Teléfono: <%= @proveedor.telefono %></b>
                            <br>
                          <td><b>Celular: <%= @proveedor.celular %></b>
                            <br>
                          <br><br>
                          </td>
                          <%= link_to 'Atrás', proveedores_path, class: 'btn btn-danger' %>
                        </ul>
                        </p>
                        



                      </div>

                    </div>

                  </div>

                </div>


              </div>
            </div>



            <!-- /.modal-dialog -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

