<%= form_for(@horario, :html => { class: 'form_dark' })  do |f|%>
    <div class="right_col" role="main">
      <div class="row">
        <div class="row">
          <div class="col-md-12">
            <div class="x_panel">

              <div class="x_content">
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
                <% if @horario.errors.any? %>
                  <div class="alert alert-danger">
                    <a class="close" data-dismiss="alert"> × </a>
                    <Strong><%= pluralize(@horario.errors.count, "Error") %></Strong>
                    <% @horario.errors.full_messages.each do |error| %>
                      <li>Error! <%= error %></li>
                    <% end %>
                <% end %>
                </div>
                <div class="container">
                  <div class="row">


                    <div class="container">
                      <div class="row">

                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=nombre>dia</label>
                          <%=f.text_field :dia,:required => "true" , class:'form-control'%>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=rut>periodo</label>
                          <%=f.text_field :periodo ,:required => "true", class:'form-control'%>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=apellidopate>hora inicio</label>
                          <%= f.time_select :hora_inicio, { prompt: {hour: 'Hora', minute: 'Minutos'}, minute_step: 10 }, { class:'form-control timepicker' ,:required => "true"} %>

                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=apellidopate>hora termino</label>
                          <%= f.time_select :hora_termino, { prompt: {hour: 'Hora', minute: 'Minutos'}, minute_step: 10 }, { class:'form-control timepicker' ,:required => "true"} %>
                        </div>


                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <%= f.submit "Guardar" , class:'btn btn-primary' %>
                          <%= link_to 'Atrás', horarios_path , class:'btn btn-danger' %>
                        </div>




                      </div>

                    </div>

                  </div>

                </div>


              </div>
            </div>



            <!-- /.modal-dialog -->
          </div>
        </div>
      </div>
    </div>
<%end%>
