
<% if current_user %>
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Listado Asignaciones


      <%= link_to 'Agregar  Asignaciones', nueva_asignacion_path,:class =>'btn bg-olive margin' %></h3>

  </div>

  <!-- /.box-header -->

  <div class="box-body">

<%end%>
<%fecha = Time.now%>
<%=fecha.strftime("%H:%M")%>
<div class="table-responsive">
  <table id="example1" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Chofer</th>
      <th>Bus</th>
      <th>Empresa</th>
      <th>Ruta</th>
      <th>Horario</th>

      <% if current_user %>
          <th>Mostrar</th>
          <th>Editar</th>
          <th>Borrar</th>
      <%end%>
    </tr>
    </thead>
    <tbody>
    <% @asignacion.each do |actual| %>
        <tr>
          <% chofer = @chofer.find(actual.id_chofer.to_i)%>
          <td><%= chofer.nombres %></td>
          <% bus = @bus.find(actual.id_bus.to_i)%>
          <td><%= bus.num_maquina %></td>
          <% empresa = @empresa.find(actual.id_empresa.to_i)%>
          <td><%= empresa.nombre %></td>
          <% ruta = @ruta.find(actual.id_ruta.to_i)%>
          <td><%= ruta.descripcion %></td>

          <% horario = @horario.find(actual.id_horario.to_i)%>
          <%inicio = horario.hora_inicio.to_s%>
          <% start = inicio.split(' ')  %>
          <%termino = horario.hora_termino.to_s%>
          <% final = termino.split(' ')  %>
          <td><%= horario.periodo.to_s+' '+start[1].to_s+' - '+final[1].to_s  %></td>

          <% if current_user %>
              <td><%= link_to '<i class="glyphicon glyphicon-book"></i>'.html_safe,  asignacion_path(actual), class: 'btn btn-success' %></td>
              <td><%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe,  editar_asignacion_path(actual), class: 'btn btn-info' %></td>

            <td><%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, asignaciones_path(actual), method: :delete, data: { confirm: '¿Está seguro?' }, class: 'btn btn-danger' %></td>
          <%end%>

        </tr>
    <%end%>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>

  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</section>
<!-- /.content -->
</div>
<% if current_user %>
<script>

$(document).ready(function() {
  $('#example1').DataTable({
    "language": {
      "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
    }
  });
});

    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'searching'   : false,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false
        })
    })
</script>
<%end%>

