<%= form_for(@chofer, :url => choferes_path ,:html => {:role => 'form'}) do |f| %>

<div class="right_col" role="main">
  <div class="row">
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">

          <div class="x_content">
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
            <% if @chofer.errors.any? %>
              <div class="alert alert-danger">
                <a class="close" data-dismiss="alert"> × </a>
                <Strong><%= pluralize(@chofer.errors.count, "Error") %></Strong>
                <% @chofer.errors.full_messages.each do |error| %>
                  <li>Error! <%= error %></li>
                <% end %>
            <% end %>
            </div>
              <div class="container">
                <div class="row">


                  <div class="container">
                    <div class="row">

                      <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group"></div>
                        <label for=nombre>Nombres</label>
                        <%= f.text_field :nombres,:required => "true" , class:'form-control' %>
                        <span class="help-inline">
                      </div>
                      <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group"></div>
                        <label for=rut>Rut</label>
                        <%= f.text_field :rut, :id => "rut", :required => "true", :placeholder => "Ej: 12345612-3", autocomplete: "off",  class:'form-control', autofocus: true %>
                        </div>

                      <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group"></div>
                        <label for=apellidopate>Apellido Paterno</label>
                        <%= f.text_field :apellido_pat,:required => "true" , class:'form-control'%>
                      </div>
                      <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group"></div>
                        <label for=apellidomate>Apellido Materno</label>
                        <%= f.text_field :apellido_mat ,:required => "true" ,class:'form-control'%>
                      </div>
                      <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                        <div class="form-group"></div>
                        <label for=fecha_ingreso>Fecha Ingreso</label>


                        <%= f.date_field :fecha_ingreso, :id=> "datepicker-input",:required => "true" , class:'form-control', type:'date' %>


                      </div>


                      <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group"></div>
                        <%= f.submit "Guardar" , class:'btn btn-primary' %>
                        <%= link_to 'Atrás', choferes_path , class:'btn btn-danger' %>
                      </div>




                    </div>

                  </div>

                </div>

              </div>


          </div>
        </div>



        <!-- /.modal-dialog -->
      </div>
    </div>
  </div>
</div>

<% end %>
<script>
    $(document).ready(function()
    {
        $( ".datepicker-input" ).datepicker( "option", "yearRange", "-99:+0" );
        $( ".datepicker-input" ).datepicker( "option", "maxDate", "+0m +0d" );
    });
</script>
<script>
    $( document ).ready(function() {

        var Fn = {
            // Valida el rut con su cadena completa "XXXXXXXX-X"
            validaRut : function (rutCompleto) {
                rutCompleto = rutCompleto.replace("‐","-");
                if (!/^[0-9]+[-|‐]{1}[0-9kK]{1}$/.test( rutCompleto ))
                    return false;
                var tmp     = rutCompleto.split('-');
                var digv    = tmp[1];
                var rut     = tmp[0];
                if ( digv == 'K' ) digv = 'k' ;

                return (Fn.dv(rut) == digv );
            },
            dv : function(T){
                var M=0,S=1;
                for(;T;T=Math.floor(T/10))
                    S=(S+T%10*(9-M++%6))%11;
                return S?S-1:'k';
            }
        }


        $("#rut").change(function(){
            if (Fn.validaRut( $("#rut").val() )){
                $("#rutbueno").html("el rut esta correcto");

            } else {
                $("#rut").val("");
                swal('El rut ingresado no es correcto','','warning');
            }
        });


    });
</script>
