<% if !@listado.nil? && @listado.errors.any? %>
	<ul>
		<% @listado.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<% if @listados.size>0 %>
	<% @listados.each do |item| %>
		<div class="well">
			<div class="row">
				<div class="col-sm-8">
					<h3><%= item.producto.nombre %></h3>
				</div>
				<div class="col-sm-4">
					<div class="pull-right">
						<%= form_for(item, remote: true) do |f| %>
							<%= f.hidden_field :id_producto, value: item.producto.id %>
							<h5><%= item.producto.precio %></h5>
							<div class="form-group">
								<%= f.text_field :cantidad, value: item.cantidad.to_i, min: 1, class: 'form-control' %>
							</div>
							<div class="btn-group">
								<%= f.submit "Update Quantity", class: 'btn btn-primary' %>
								<%= link_to "Delete", item, method: :delete, remote: true, class: 'btn btn-danger'  %>
							</div>
							<span>Total Price: <%= item.precio_total %></span>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
<% else %>

<% end %>