<h1>Editando Categoria</h1>

<%= form_for(@categoria, :url => update_categoria_path , :html => {:role => 'form'})  do |f|%>
    <div class="right_col" role="main">
      <div class="row">
        <div class="row">
          <div class="col-md-12">
            <div class="x_panel">

              <div class="x_content">
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
                <% if @categoria.errors.any? %>
                  <div class="alert alert-danger">
                    <a class="close" data-dismiss="alert"> × </a>
                    <Strong><%= pluralize(@categoria.errors.count, "Error") %></Strong>
                    <% @categoria.errors.full_messages.each do |error| %>
                      <li>Error! <%= error %></li>
                    <% end %>
                <% end %>
                </div>
                <div class="container">
                  <div class="row">


                    <div class="container">
                      <div class="row">

                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=nombre>Nombre</label>
                          <%=f.text_field :nombre ,:required => "true", class:'form-control'%>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=Descripcion>Descripcion</label>
                          <%=f.text_field :descripcion ,:required => "true", class:'form-control'%>
                        </div>




                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <%= f.submit "Guardar" , class:'btn btn-primary' %>
                          <%= link_to 'Atrás', categorias_path , class:'btn btn-danger' %>
                        </div>


                      </div>

                    </div>

                  </div>

                </div>


              </div>
            </div>



            <!-- /.modal-dialog -->
          </div>
        </div>
      </div>
    </div>
<%end%>
