<div class="box">
  <div class="box-header">
    <h1 class="box-title"><b>Proveedor(a): <%= Proveedor.find(@proveedor[0].id_proveedor).rut.titleize %></b></h1>
    <div class="right_col" role="main">
      <div class="row">
        <div class="row">
          <div class="col-md-12">
            <div class="x_panel">


              <div class="x_content">
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

                <div class="container">
                  <div class="row">


                    <div class="container">
                      <div class="row">

                        <p>
                        <ul>
                          <td><b>Nombre: <%= Proveedor.find(@proveedor[0].id_proveedor).nombre.titleize %></b></td>
                          <br>
                          <td><b>Apellido: <%= Proveedor.find(@proveedor[0].id_proveedor).apellido.titleize %></b></td>
                          <br>
                          <td><b>Teléfono: <%= Proveedor.find(@proveedor[0].id_proveedor).telefono %></b></td>
                          <br>
                          <td><b>Dirección: <%= Proveedor.find(@proveedor[0].id_proveedor).direccion.titleize %></b></td>
                        </ul>
                        </p><br>

                        <% @descripcionCompra.each do |compra| %>
                          <p class="list-group-item-text">
                          <ul>
                            <li>
                              <b>Producto: <%= @productos.find(compra.id_producto).nombre.capitalize %> </b>
                            </li>
                            <b>Cantidad: <%= compra.cantidad %></b><br>
                            <b>Sub Total: $<%= (compra.cantidad).to_i * (compra.precio_act).to_i %></b><br>
                            <label class="text-muted">
                              <small>Precio unitario: $<%= compra.precio_act %></small>
                            </label>

                            <% @CostoTotal = @CostoTotal + ((compra.cantidad).to_i * (compra.precio_act).to_i) %>
                          </ul>
                          </p>
                        <% end %>
                        <ul>
                          <div>
                            <label class="form-label">Compra total: $<%= @CostoTotal %></label><br>
                            <a href="<%= params[:id] %>.pdf" class="btn btn-success" target="_blank">Descargar</a>
                            <%= link_to 'Atrás', compras_path, class: 'btn btn-danger' %>
                          </div>
                        </ul>


                      </div>

                    </div>

                  </div>

                </div>


              </div>
            </div>


            <!-- /.modal-dialog -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>