
<%= form_for(@producto, :html => { class: 'form_dark' })  do |f|%>

    <div class="right_col" role="main">
      <div class="row">
        <div class="row">
          <div class="col-md-12">
            <div class="x_panel">

              <div class="x_content">
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
                <% if @producto.errors.any? %>
                  <div class="alert alert-danger">
                    <a class="close" data-dismiss="alert"> × </a>
                    <Strong><%= pluralize(@producto.errors.count, "Error") %></Strong>
                    <% @producto.errors.full_messages.each do |error| %>
                      <li>Error! <%= error %></li>
                    <% end %>
                <% end %>
                </div>
                <div class="container">
                  <div class="row">


                    <div class="container">
                      <div class="row">

                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=nombre>Nombre</label>
                          <%=f.text_field :nombre ,:required => "true", class:'form-control' %>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=precio>Precio Compra</label>
                          <%= f.text_field :precio_compra, :required => "true", class: 'form-control' %>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=precio>Precio Venta</label>
                          <%=f.text_field :precio ,:required => "true", class:'form-control' %>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=marca>Marca</label>
                          <%= f.text_field :marca, :required => "true", class: 'form-control' %>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=descripcion>Descripcion</label>
                          <%=f.text_field :descripcion ,:required => "true",  class:'form-control' %>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=categoria>Categoria</label>
                          <%= f.select :id_categoria, options_from_collection_for_select(@categorias, "id", "nombre"), {}, {class: " selectpicker form-control " ,  data: { live_search: 'true' } }%>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <%= f.submit "Guardar" , class:'btn btn-primary' %>
                          <%= link_to 'Atrás', productos_path , class:'btn btn-danger' %>
                        </div>



                      </div>

                    </div>

                  </div>

                </div>


              </div>
            </div>



            <!-- /.modal-dialog -->
          </div>
        </div>
      </div>
    </div>









<%end%>
