<p>
  <strong>N° Maquina</strong>
  <%= @bus.num_maquina %>
</p>
<p>
  <strong>Patente</strong>
  <%= @bus.placa_patente %>
</p>
<p>
<strong>Año Vehiculo:</strong>
<%= @bus.anio_vehiculo %>
</p>
<p>
  <strong>Marca : </strong>
  <%= @bus.marca %>
</p>
<p>
  <strong>Carroceria : </strong>
  <%= @bus.carroceria %>
</p>
<p>
  <strong>N° Motor:</strong>
  <%= @bus.numero_motor %>
</p>
<p>
  <strong>N° Chasis:</strong>
  <%= @bus.numero_chasis %>
</p>
<p>
  <strong>categoria:</strong>
  <%= @bus.id_categoria %>
</p>
