<div class="box">
  <div class="box-header">
    <h1 class="box-title"><b>Producto</b></h1>
    <div class="right_col" role="main">
      <div class="row">
        <div class="row">
          <div class="col-md-12">
            <div class="x_panel">


              <div class="x_content">
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

                <div class="container">
                  <div class="row">


                    <div class="container">
                      <div class="row">

                        <p>
                        <ul>
                          <td><b>Nombre:  <%= @producto.nombre %></b></td>
                          <br>
                          <td><b>Precio Compra: <%= @producto.precio_compra %></b></td>
                          <br>
                          <td><b>Precio Venta: <%= @producto.precio %></b></td>
                          <br>
                          <td><b>Marca: <%= @producto.marca %></b>
                          <br>
                          <td><b>Descripcion: <%= @producto.descripcion %></b>
                          <br>
                          <td><b>Categoria: <%= Categoria.find(@categoria[0].id_categoria).nombre.titleize %></b></td><br><br>
                          </td>
                          <%= link_to 'Atrás', productos_path, class: 'btn btn-danger' %>
                        </ul>
                        </p>






                      </div>

                    </div>

                  </div>

                </div>


              </div>
            </div>


            <!-- /.modal-dialog -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
