<p>
  <strong>Nombre : </strong>
  <%= @producto.nombre %>
</p>
<p>
  <strong>Precio : </strong>
  <%= @producto.precio %>
</p>
<p>
<strong>Marca : </strong>
<%= @producto.marca %>
</p>
<p>
  <strong>Descripcion : </strong>
  <%= @producto.descripcion%>
</p>
<p>
  <strong>Categoria : </strong>
  <%= @producto.id_categoria %>
</p>
<%= link_to 'Atrás', productos_path , class:'btn btn-danger' %>