<div class="box">
  <div class="box-header">
    <h1 class="box-title"><b>Categoria: <%=@categoria.nombre %></b></h1><br><br>
    <h1 class="box-title"><b>Descripción: <%=@categoria.descripcion %></b></h1>
    <div class="right_col" role="main">
      <div class="row">
        <div class="row">
          <div class="col-md-12">
            <div class="x_panel">


              <div class="x_content">
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

                <div class="container">
                  <div class="row">


                    <div class="container">
                      <div class="row">



                        <ul>
                            <br>
                            <b>Cantidad de productos de este tipo: <%= @cantidad %> </b><br>
                            <b>Productos:</b>

                            <% if @productos.length > 0 %>
                              <% @productos.each do |producto| %>
                                <li><b><%= producto.nombre%></b></li>
                              <% end %>
                            <% else %>
                              <li>No existen productos de esta categoría</li>
                            <% end %><br>
                         <%= link_to 'Atrás', categorias2_path , class:'btn btn-danger' %></ul>
                        </div>




                      </div>

                    </div>

                  </div>

                </div>


              </div>
            </div>



            <!-- /.modal-dialog -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
