<%def digito_verificador(rut)%>
  <%[*0..9,'K'][rut.to_s.reverse.chars.inject([0,0]){|(i,a),n|[i+1,a-n.to_i*(i%6+2)]}[1]%11]%>
<%end%>
<%= form_for(@empresa, :html => { class: 'form_dark' })  do |f|%>

    <div class="right_col" role="main">
      <div class="row">
        <div class="row">
          <div class="col-md-12">
            <div class="x_panel">

              <div class="x_content">
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
                <% if @empresa.errors.any? %>
                  <div class="alert alert-danger">
                    <a class="close" data-dismiss="alert"> × </a>
                    <Strong><%= pluralize(@empresa.errors.count, "Error") %></Strong>
                    <% @empresa.errors.full_messages.each do |error| %>
                      <li>Error! <%= error %></li>
                    <% end %>
                <% end %>
                </div>
                <div class="container">
                  <div class="row">


                    <div class="container">
                      <div class="row">

                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=nombre>Rut</label>
                          <%=f.text_field :rut ,:required => "true", class:'form-control'%>

                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=rut>Nombre</label>
                          <%=f.text_field :nombre ,:required => "true", class:'form-control'%>
                        </div>


                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <%= f.submit "Guardar" , class:'btn btn-primary' %>
                          <%= link_to 'Atrás', empresas_path , class:'btn btn-danger' %>
                        </div>




                      </div>

                    </div>

                  </div>

                </div>


              </div>
            </div>



            <!-- /.modal-dialog -->
          </div>
        </div>
      </div>
    </div>
<%end%>
