
<%= form_for(@bus, :html => { class: 'form_dark' })  do |f|%>

    <div class="right_col" role="main">
      <div class="row">
        <div class="row">
          <div class="col-md-12">
            <div class="x_panel">

              <div class="x_content">
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
                <% if @bus.errors.any? %>
                  <div class="alert alert-danger">
                    <a class="close" data-dismiss="alert"> × </a>
                    <Strong><%= pluralize(@bus.errors.count, "Error") %></Strong>
                    <% @bus.errors.full_messages.each do |error| %>
                      <li>Error! <%= error %></li>
                    <% end %>
                <% end %>
                </div>
                <div class="container">
                  <div class="row">


                    <div class="container">
                      <div class="row">

                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=nombre>Numero de Maquina</label>
                          <%=f.text_field :num_maquina ,:required => "true", class:'form-control' %>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=rut>Placa Patente</label>
                          <%=f.text_field :placa_patente ,:required => "true", class:'form-control' %>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=apellidopate>Año Vehiculo</label>
                          <%= f.select :anio_vehiculo, (Time.zone.now.year - 20)..(Time.zone.now.year), {}, {class: " selectpicker form-control " ,  data: { live_search: 'true' },:required => "true" }%>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=apellidomate> Marca</label>
                          <%=f.text_field :marca ,:required => "true",  class:'form-control' %>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                          <div class="form-group"></div>
                          <label for=fecha_ingreso>Carroceria</label>
                          <%=f.text_field :carroceria ,:required => "true",  class:'form-control' %>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                          <div class="form-group"></div>
                          <label for=fecha_ingreso>Numero Motor</label>
                          <%=f.text_field :numero_motor ,:required => "true",  class:'form-control' %>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                          <div class="form-group"></div>
                          <label for=fecha_ingreso>Numero Chasis</label>
                          <%=f.text_field :numero_chasis ,:required => "true",  class:'form-control' %>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=Empresa>Categoria</label>
                          <%= f.select :id_categoria, options_from_collection_for_select(@categorias, "id", "nombre"), {}, {class: " selectpicker form-control " ,  data: { live_search: 'true' } }%>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <%= f.submit "Guardar" , class:'btn btn-primary' %>
                          <%= link_to 'Atrás', buses_path , class:'btn btn-danger' %>
                        </div>



                      </div>

                    </div>

                  </div>

                </div>


              </div>
            </div>



            <!-- /.modal-dialog -->
          </div>
        </div>
      </div>
    </div>









<%end%>
