
<!-- Main content -->
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Listado Buses
      <%= link_to 'Agregar Bus', nuevo_bus_path,:class =>'btn bg-olive margin' %></h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="table-responsive">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>N° Maquina</th>
          <th>Patente</th>
          <th>Año Vehiculo</th>
          <th>marca</th>
          <th>Carroceria</th>
          <th>N° Motor</th>
          <th>N° Chasis</th>
          <th>Mostrar</th>
          <th>Editar</th>
          <th>Borrar</th>
        </tr>
        </thead>
        <tbody>
        <% @bus.each do |actual| %>
            <tr>
              <td><%= actual.num_maquina%></td>
              <td><%= actual.placa_patente %></td>
              <td><%= actual.anio_vehiculo %></td>
              <td><%= actual.marca %></td>
              <td><%= actual.carroceria %></td>
              <td><%= actual.numero_motor %></td>
              <td><%= actual.numero_chasis %></td>
              <td><%= link_to '<i class="glyphicon glyphicon-book"></i>'.html_safe,  bus_path(actual), class: 'btn btn-success' %></td>
              <td><%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe,  editar_bus_path(actual), class: 'btn btn-info' %></td>
              <td><%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, buses_path(actual), method: :delete, data: { confirm: '¿Está seguro?' }, class: 'btn btn-danger' %></td>

            </tr>
        <%end%>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>

  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</section>
<!-- /.content -->
</div>

<script>

$(document).ready(function() {
  $('#example1').DataTable({
    "language": {
      "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
    }
  });
});

    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'searching'   : false,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false
        })
    })
</script>