<% if @venta.errors.any? %>
  <div id="error_explanation">
    <h4>
      No se pudo crear esta venta debido a:
    </h4>
    <div class="alert alert-danger">
      <a href="#" data-dismiss="alert" class="close">×</a>
      <ul>
        <% @venta.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= nested_form_for(@venta) do |f|  %>

<div class="right_col" role="main">
  <div class="row">
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">

          <div class="x_content">
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
            <% if @venta.errors.any? %>
              <div class="alert alert-danger">
                <a class="close" data-dismiss="alert"> × </a>
                <Strong><%= pluralize(@venta.errors.count, "Error") %></Strong>
                <% @venta.errors.full_messages.each do |error| %>
                  <li>Error! <%= error %></li>
                <% end %>
            <% end %>
            </div>
              <div class="container">
                <div class="row">


                  <div class="container">
                    <div class="row">


                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                          <div class="form-group"></div>
                          <label for=categoria>Cliente</label>
                          <%= f.collection_select :id_cliente, Cliente.select("clientes.rut, clientes.id"), :id, :rut, {:include_blank => true}, {:class => 'form-control'} %>
                        </div>

                      <div class="col-md-12">
                        <table id="carrito" class="tab">
                          <thead>
                          <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th></th>
                          </tr>
                          </thead>
                          <tbody>
                          <%= f.fields_for :carritos, :wrapper => false do |carrito| %>
                            <tr class="fields">
                              <td>
                                <%= carrito.collection_select :id_producto, Producto.select("productos.nombre, productos.cantidad, productos.id").where("productos.cantidad > ?", 0), :id, :nombre, {:include_blank => true}, {:class => 'form-control'} %>
                              </td>
                              <td>
                                <%= carrito.text_field :cantidad, class: "form-control", type: 'number', placeholder: "Cantidad del Producto" , :onclick => 'enableBtn()'%>
                              </td>
                              <td>
                                <%= carrito.link_to_remove "Eliminar", :class => 'btn btn-danger btn-sm borrar' %>
                              </td>
                            </tr>
                            <br>
                          <% end %>
                          </tbody>
                        </table>
                        <p>
                          <%= f.link_to_add "Agregar Producto", :carritos, :class => 'btn btn-default btn-sm', "data-target" => "#carrito", :onclick => "enableBtn()" %>
                        </p>
                        <br>
                        <div class="row">
                          <div class="form-actions">
                            <%= f.submit "Enviar", :class => 'btn btn-primary', id: "myBtn", disabled: "disabled" %>
                            <%= link_to 'Cancelar', ventas_path, :class => 'btn btn-danger' %>

                          </div>
                        </div>
                      </div>

                    </div>

                  </div>

                </div>

              </div>


          </div>
        </div>



        <!-- /.modal-dialog -->
      </div>
    </div>
  </div>
</div>

<% end %>
<script>
    $(document).ready(function()
    {
        $( ".datepicker-input" ).datepicker( "option", "yearRange", "-99:+0" );
        $( ".datepicker-input" ).datepicker( "option", "maxDate", "+0m +0d" );
    });
</script>

