<%= form_for(@venta, :html => {:role => 'form'}) do |f| %>

  <div class="right_col" role="main">
    <div class="row">
      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">

            <div class="x_content">
              <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
              <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
              <% if @venta.errors.any? %>
                <div class="alert alert-danger">
                  <a class="close" data-dismiss="alert"> × </a>
                  <Strong><%= pluralize(@venta.errors.count, "Error") %></Strong>
                  <% @venta.errors.full_messages.each do |error| %>
                    <li>Error! <%= error %></li>
                  <% end %>
              <% end %>
              </div>
              <div class="container">
                <div class="row">


                  <div class="container">
                    <div class="row">

                      <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group"></div>
                        <label for=id_cliente>Id_Cliente</label>
                        <%= f.select :id_cliente, options_from_collection_for_select(@clientes, "id", "nombre"), {}, {class: " selectpicker form-control ", data: {live_search: 'true'}} %>
                        <span class="help-inline">
                      </div>
                      <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group"></div>
                        <label for=id_producto>Id_Producto</label>
                        <%= f.select :id_producto, options_from_collection_for_select(@productos, "id", "nombre"), {}, {class: " selectpicker form-control ", data: {live_search: 'true'}} %>
                      </div>

                      <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                        <div class="form-group"></div>
                        <label for=fecha_ingreso>Fecha</label>

                        <%= f.date_field :fecha, :id => "datepicker-input", :required => "true", class: 'form-control', type: 'date' %>

                      </div>
                      <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group"></div>
                        <label for=cantidad>Cantidad</label>
                        <%= f.text_field :cantidad, :required => "true", class: 'form-control' %>
                      </div>
                      <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group"></div>
                        <label for=subtotal>Sub Total</label>
                        <%= f.text_field :subtotal, :required => "true", class: 'form-control' %>
                      </div>

                      <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group"></div>
                        <label for=total>Total</label>
                        <%= f.text_field :total, :required => "true", class: 'form-control' %>
                      </div>


                      <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group"></div>
                        <%= f.submit "Guardar", class: 'btn btn-primary' %>
                        <%= link_to 'Atrás', ventas_path, class: 'btn btn-danger' %>
                      </div>


                    </div>

                  </div>

                </div>

              </div>


            </div>
          </div>


          <!-- /.modal-dialog -->
        </div>
      </div>
    </div>
  </div>

<% end %>
<script>
    $(document).ready(function () {
        $(".datepicker-input").datepicker("option", "yearRange", "-99:+0");
        $(".datepicker-input").datepicker("option", "maxDate", "+0m +0d");
    });
</script>