
<!-- Main content -->
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Listado Ventas
      <%= link_to 'Agregar Venta', nueva_venta_path,:class =>'btn bg-olive margin' %></h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="table-responsive">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>Fecha</th>
          <th>Cliente</th>
          <th>Total</th>
          <th>Mostrar</th>
        </tr>
        </thead>
        <tbody>
        <%@venta.each do |venta| %>
          <tr>
            <td><%= venta.id %></td>
            <td><%= venta.fecha.strftime('%d-%m-%Y') %></td>
            <% cliente = @clientes.find(venta.id_cliente.to_i) %>
            <td><%= cliente.rut %></td>
            <td><%= link_to '<i class="glyphicon glyphicon-book"></i>'.html_safe,  venta_path(venta), class: 'btn btn-success' %></td>
          </tr>
        <% end %>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>

  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</section>
<!-- /.content -->
</div>

<script>

$(document).ready(function() {
  $('#example1').DataTable({
    "language": {
      "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
    }
  });
});

    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'searching'   : false,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false
        })
    })
</script>