<div class="box">
  <div class="box-header">
    <h1 class="box-title"><b>Cliente(a): <%= Cliente.find(@cliente[0].id_cliente).rut.titleize %></b></h1><br>
    <h1 class="box-title"><b>Fecha: <%=@venta.fecha.strftime('%d-%m-%Y')%></b></h1>
    <div class="right_col" role="main">
      <div class="row">
        <div class="row">
          <div class="col-md-12">
            <div class="x_panel">


              <div class="x_content">
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

                <div class="container">
                  <div class="row">


                    <div class="container">
                      <div class="row">

                        <p>
                          <ul>
                            <td><b>Nombre: <%= Cliente.find(@cliente[0].id_cliente).nombre.titleize %></b></td><br>
                            <td><b>Apellido: <%= Cliente.find(@cliente[0].id_cliente).apellido.titleize %></b></td><br>
                            <td><b>Teléfono: <%= Cliente.find(@cliente[0].id_cliente).telefono %></b></td><br>
                            <td><b>Dirección: <%= Cliente.find(@cliente[0].id_cliente).direccion.titleize %></b></td>
                          </ul>
                        </p><br>

                        <%@descripcionVenta.each do |venta| %>
                          <p class="list-group-item-text">
                          <ul>
                            <li>
                              <b>Producto: <%= @productos.find(venta.id_producto).nombre.capitalize %> </b>
                            </li>
                              <b>Cantidad: <%= venta.cantidad %></b><br>
                              <b>Sub Total: $<%= (venta.cantidad).to_i * (venta.precio_act).to_i %></b><br>
                              <label class="text-muted">
                                <small>Precio unitario: $<%= venta.precio_act %></small>
                              </label>

                            <% @CostoTotal = @CostoTotal + ((venta.cantidad).to_i * (venta.precio_act).to_i) %>
                          </ul>
                          </p>
                        <% end %>
                        <ul>
                          <div>
                            <label class="form-label">Venta total: $<%= @CostoTotal %></label><br>
                            <a href="<%=params[:id]%>.pdf" class="btn btn-success" target="_blank">Descargar</a>
                            <%= link_to 'Atrás', ventas_path, class: 'btn btn-danger' %>
                          </div></ul>





                      </div>

                    </div>

                  </div>

                </div>


              </div>
            </div>



            <!-- /.modal-dialog -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

